@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TSTO Neighboreenos</h1>
    <p class="lead">Welcome to TSTO Neighboreenos! A place were fans of "The Simpsons: Tapped Out" game can
        find neighbors, leave messagages with your neighbors, and show off the work you've done to your
        Springfield.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>&nbsp;</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mi orci, fringilla sit amet suscipit
            et, fermentum vitae tellus. Suspendisse sit amet scelerisque est. Donec tempor dapibus dui vel viverra.
            Sed posuere velit elementum, eleifend odio sit amet, accumsan nisl. Vestibulum eleifend viverra urna,
            ut efficitur sem iaculis ac. Vivamus interdum tempor pharetra. Nullam pellentesque quam ac arcu
            dapibus, nec pellentesque eros sollicitudin.
        </p>
    </div>
    <div class="col-md-4">
        <h2>&nbsp;</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mi orci, fringilla sit amet suscipit
        et, fermentum vitae tellus. Suspendisse sit amet scelerisque est. Donec tempor dapibus dui vel viverra.
        Sed posuere velit elementum, eleifend odio sit amet, accumsan nisl. Vestibulum eleifend viverra urna,
        ut efficitur sem iaculis ac. Vivamus interdum tempor pharetra. Nullam pellentesque quam ac arcu
        dapibus, nec pellentesque eros sollicitudin.</p>
    </div>
    <div class="col-md-4">
        <h2>&nbsp;</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mi orci, fringilla sit amet suscipit
        et, fermentum vitae tellus. Suspendisse sit amet scelerisque est. Donec tempor dapibus dui vel viverra.
        Sed posuere velit elementum, eleifend odio sit amet, accumsan nisl. Vestibulum eleifend viverra urna,
        ut efficitur sem iaculis ac. Vivamus interdum tempor pharetra. Nullam pellentesque quam ac arcu
        dapibus, nec pellentesque eros sollicitudin.</p>
    </div>
</div>